.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}
.cardOuter {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
    
}
.QR {
    background-image: url('./images/image-qr-code.png');
    background-size: cover;
    width: 100%;
    height: 18rem;
    border-radius: 15px;
    margin-bottom: 20px;
}
.text {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    line-height: 1.5;
}
h1{
    font-size: 1rem;
}
p{
    font-size: 0.8rem;
    color: hsl(220, 15%, 55%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
